<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Pizza Time</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="">Home</a>
        <a class="nav-link" routerLink="about">About Us</a>
        <a class="nav-link" routerLink="menu">Menu</a>
        <a class="nav-link" routerLink="cart">Cart</a>
      </div>
    </div>
  </div>
</nav>
<div class="hero-image">
  <div class="hero-text">
    <h1>Big Man Restaurant</h1>
    <p>Pizzas from the ends</p>
    <button class="btn btn-success me-3" routerLink="menu">Our Menu</button>
    <button class="btn btn-success" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Book a
      table</button>
  </div>
</div>
